*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}



.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FDF2E9;
    padding: 1.5em 3em;
    align-items: center;
}
.logo{
    width: 10%;
}
ul{
    align-items: center;
    display: flex;
    gap: 3.5rem;
    list-style: none;
}
ul li{
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}
ul li:hover{
    color: #f97604;
}
.trial{
    background-color: #E67E22;
    font-weight: 700;
    padding: 0.5em 1em ;
    color: #FEFEFE;
    border: none;
    border-radius: 0.5rem;
}
.trial:hover{
    background-color: #f97604;
    color: #FDF2E9;
}
.hero-container{
    background-color:#FDF2E9;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 3.5em 3em;
    align-items: center;
    margin-top: 0;
    height: 100vh;
}

.hero-section-1{
    max-width: 550px;
}
h1{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3rem;
    color:black;
}
.p-hero{
    margin-top: 2em;
    font-size: 1.3rem;
    line-height: 2rem;
}
.hero-image{
    width: 90%;
}
.btn-con{
    margin-top: 2em;
    display: flex;
    gap:1.5rem;
}
  .btn-con button{
    border: none;
    padding: 1em 2em;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .btn-con button:hover{
    font-size: 1.2rem;
  }
  .btn-orange{
    background-color: #E67E22;
    color: #FEFEFE;
  }
  
  .btn-white{
    background-color: #958080;
  }
  .reviews-con{
    display: flex;
    gap: 2rem;
    margin-top: 4em;
    align-items: center;
    font-weight: 700;
  }

  .image-reviews-con{
    display: flex;
   
  }

  .image-reviews{
    height: 2.8rem;
    width: 2.8rem;
    border: 4px solid white;
    border-radius: 50%;
    margin-right: -12px;
  }
  .review-p{
    font-size: 1.2rem;
  }
  .review-span{
    color: #f97604;
  }